<!DOCTYPE html>
<html lang="en" ng-app="chatApp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat-App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCyxysH2qZO_E9lub8mYpczm-cVBZySbhU",
            authDomain: "chatt-app-903ac.firebaseapp.com",
            databaseURL: "https://chatt-app-903ac.firebaseio.com",
            projectId: "chatt-app-903ac",
            storageBucket: "chatt-app-903ac.appspot.com",
            messagingSenderId: "605110691806"
        };
        firebase.initializeApp(config);
    </script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <script src="app.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body ng-controller="ChatController">
<br>
<div id="pana" class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Chat-App</div>
        <div class="panel-body">
            <p ng-repeat="m in messages">{{m.message}} - {{m.date | date:'medium'}}</p>
            <div class="form-group">
                <input id="myInput" type="text"  onkeydown = "if (event.keyCode == 13)
                        document.getElementById('btn').click()" class="form-control" placeholder="Message here..." ng-model="messageText">
            </div>
            <button type="submit" id="btn" class="btn btn-default" ng-click="send()" onclick="document.getElementById('myInput').value = ''">Send</button>
        </div>

    </div>
</div>

</body>
</html>